<template>
  
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
        <v-img
          src="ceducar.jpeg"
        ></v-img>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                
                <v-toolbar-title>Usuario Ceducar</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <form>
                <v-card-text>
                  <v-text-field
                    v-model="email"
                    :error-messages="emailErrors"
                    label="Correo"
                    required
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :error-messages="passwordErrors"
                    :append-icon="show1 ? 'visibility_off' : 'visibility'"
                    :type="show1 ? 'text' : 'password'"
                    label="Contraseña"
                    required
                    @click:append="show1 = !show1"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="submit" color="primary">Iniciar sesíon</v-btn>
                  <v-btn @click="clear" color="primary">Limpiar</v-btn>
                </v-card-actions>
                </form>
            </v-card>
          </v-flex>
        </v-layout>
        <v-dialog
          v-model="cargando.estado"
          hide-overlay
          persistent
          width="300"
        >
          <v-card
            color="primary"
            dark
          >
            <v-card-text>
              {{ cargando.titulo }}
              <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-container>
    </v-content>
</template>

<script>
  import { mapState, mapActions, mapMutations } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import { required, maxLength, email } from 'vuelidate/lib/validators'

  export default {
    // middleware: 'authenticated',
    layout: "login",
    mixins: [validationMixin],

    validations: {
      email: { required, email },
      password: { required },
      checkbox: {
        checked (val) {
          return val
        }
      }
    },

    data: function () {
      return {
        email: '',
        password: '',
        checkbox: false,
        show1: false,
        snackbar: {
          flag: false,
          y: 'top',
          x: null,
          mode: '',
          text: '',
          color: 'pink'
        },
      }
    },

    computed: {
      ...mapState([
        'cargando',
        'authenticated'
      ]),
      
      checkboxErrors () {
        const errors = []
        if (!this.$v.checkbox.$dirty) return errors
        !this.$v.checkbox.checked && errors.push('You must agree to continue!')
        return errors
      },
      passwordErrors () {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push('Se requiere contraseña')
        return errors
      },
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Ingrese un correo válido')
        !this.$v.email.required && errors.push('Se requiere correo')
        return errors
      }
    },

    methods: {
      ...mapActions([
        'action_login'
      ]),
      ...mapMutations([
        'mostrarCargando',
        'cerrarCargando'
      ]),
      async submit () {
        await this.action_login({'email':this.email, 'password': this.password})
        .then(() => {
            this.$v.$touch()
            this.$router.push("marcaciones")
            this.cerrarCargando()
          }
        )
        .catch((error) => {
          this.$swal({
            text: error.msg,
            type: 'error',
            showCancelButton: false,
          })
          
        })
        


      },
      clear () {
        this.$v.$reset()
        this.subir()
        this.email = ''
        this.password = ''
        this.checkbox = false
      }
    },
    // created: function() {
    //   if (this.authenticated == true) {
    //     this.$router.push("dashboard")
    //   }
    // }
  }


</script>